:root {
  --accent-color: hsl(15.7, 75.9%, 27.6%);
  --papyrus-background: hsl(39.7, 28%, 95.6%);
  --pale-green: hsl(91, 54%, 71%);
  --pale-red: hsl(0, 86.3%, 68.4%);
  --pale-blue: hsl(184, 39%, 66%);
}
